# Default values for pet2cattle.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

image:
  repository: jordiprats/flask-pet2cattle
  pullPolicy: IfNotPresent
  #tag: ""

static:
  repository: nginx
  pullPolicy: IfNotPresent
  #tag: ""
  port: 80
  replicaCount: 1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: false
  annotations:
    kubernetes.io/ingress.class: traefik
    # kubernetes.io/tls-acme: "true"
    # cert-manager.io/cluster-issuer: letsencrypt
    # # acme.cert-manager.io/http01-ingress-class: traefik
    # acme.cert-manager.io/http01-edit-in-place: "true"
    # cert-manager.io/acme-challenge-type: http01
    #
    # traefik.ingress.kubernetes.io/router.tls: "true"
    # traefik.ingress.kubernetes.io/redirect-permanent: "true"
    # traefik.ingress.kubernetes.io/redirect-regex: ^(https?://www.pet2cattle.com|http://pet2cattle.com)/(.*)
    # traefik.ingress.kubernetes.io/redirect-replacement: https://pet2cattle.com/$2

  hosts:
    - pet2cattle.com
  tls: []

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

pet2cattle:
  bucket:
    name: "pet2cattle"
  posts:
    repo: git@github.com:jordiprats/posts-repo.git

s3sync:
  key: false

# minio dependency
minio:
  persistence:
    size: 20Gi